.award-container{
    width: 100%;
    padding: 2rem 10%;
    margin: 4rem 0;
}

.achevement-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.content-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 1fr;
}

.certification{
    color: rgba(255, 235, 118, 1);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    font-weight: 800;
}


.cert-name{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.organization{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.897);
    margin:  1.5rem 0 0 0;
}

@media(max-width: 420px){
    .award-container{
        margin: 0;
    }

    .achevement-list{
        flex-direction: column;
        align-items: baseline;
        gap: 1.5rem;
    }

    .content-container{
        align-items: flex-start;
        gap: 1.124rem;
    }

    .certification{
        margin-bottom: 0 0 1rem 0;
    }

    .organization{
        margin-top: 0.5rem;
    }

    

    
}