.interest-conatiner{
    width: 100%;
    padding: 2rem 10%;
    margin: 5rem 0;

}
.interest{
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    color: rgba(255, 235, 118, 1);
    margin: 1.5rem 0;
}



.interest-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aesthetic{
    width: 40px;
    height: 1.125rem;
    background: rgba(255, 184, 0, 1);
    border-radius: 20px;
    display: flex;
}

.aesthetic.en{
    background: rgba(183, 22, 168, 1);
}

.aesthetic.cl{
    background: rgba(36, 248, 70, 1);
}

.aesthetic.ai{
    background: rgba(16, 98, 195, 1);
}

.spec-interest{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
}

@media(max-width: 420px){
    .interest-conatiner{
        margin-bottom: 2rem;
    }
    
    .interest-list{
        flex-direction: column;
        gap: 1.125rem;
    }

    .interest-map-container{
        display: flex;
        align-items: center;
        gap: 1.125rem;
        width: 100%;
    }

    .spec-interest{
        margin: 0;
    }
    
}