.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin-top: 3rem;
}

#projects-heading{
    color: rgba(255, 235, 118, 1);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.project-name{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.125rem 0 1.125rem 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(13, 12, 6, 1);
}

.folio{
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100vh;
    top: 0;
}

.preview-image{
    width: 600px;
    height: 500px;
}

.project-details{
    background-color: rgb(13, 12, 6, 1);
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.button-container button{
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    width: 30%;
    height: 2.5rem;
    background: none;
    border: solid 1.5px;
}

.button-container button::after{
    content: '\2197';
}

.button-container button a{
    color: rgba(255, 255, 255, 1);
    margin-right: 20px;
}

#view-more-project{
    margin-top: 1.125rem;
    width: 150px;
    height: 3rem;
    border-radius: 14px;
    background: none;
    border: solid 2px rgba(255, 235, 118, 1);
    color: rgba(255, 235, 118, 1);
    font-weight: 700;
}

.button-container button:hover,
#view-more-project:hover{
    cursor: pointer;
}

#view-more-project::after{
    content: '\2193';
}

#view-more-project a{
    margin-right: 20px;
    color: rgba(255, 235, 118, 1);
}

@media(max-width: 678px){

    .folio{
        width: 100%;
        height: 90vh;
    }

    .preview-image{
        width: 100%;
        height: 400px;
    }

    .button-container button{
        width: 120px;
    }

    .button-container button a{
        margin-right: 1rem;
    }

    #view-more-project{
        margin-top: 0;
    }
}