.stack-container{
    background: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 2rem 10%;
}

.Skill-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stack-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.skill-list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.125rem;
}

.Skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Skill-container span{
    font-size: 2rem;
    font-weight: 400;
    line-height: 73.6px;
}

@media(max-width: 678px){

    .skill-list-container{
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
    }
    .Skill-container{
  
        gap: 1rem;
    }

    .Skill-container img{
        width: 80px;
        height: 80px;
    }

    .stack-title{
        font-size: 1.5rem;
    }
}
